<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Edit Page</h1>
        <form action="/comments/<%= foundComment.id %>?_method=PATCH" method="POST">
            
            <label for="text" style="display: block; margin-bottom: 10px;">Comment text</label>
            <input type="text" value="<%=foundComment.text%>" name="text" id="text" style="width: 200px; padding: 5px; border: 1px solid #ccc;">
        
            <button type="submit"
                style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer;">Submit</button>
        </form>
</body>
</html>