<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1 style="color: blue; text-align: center;">Show Page</h1>

    <section style="background-color: #f2f2f2; padding: 10px;">
        <h5 style="font-size: 16px; margin-bottom: 5px;">
            <%=foundComment.id%>
        </h5>
        <p style="font-weight: bold; color: green;">
            <%=foundComment.username%>
        </p>
        <p style="font-family: Arial, sans-serif;">
            <%=foundComment.text%>
        </p>
    </section>
</body>

</html>