<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Get and Post Request</h1>
    <h2>
        Get Request
    </h2>
    <form action="/user" method="GET">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">

        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <button type="submit">Submit</button>
    </form>


    <h2>
        Post Request
    </h2>
    <form action="/user" method="Post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    
        <label for="age">Age</label>
        <input type="number" name="age" id="age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>