<%- include('./partials/header') %>

    <button id="btn">Click</button>
    <h1>This is Index Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum incidunt placeat voluptas, provident adipisci accusamus consectetur, enim perspiciatis soluta voluptate consequatur quos quo! Nisi voluptatibus est necessitatibus quibusdam quas eligendi!</p>
<%- include('./partials/footer') %>